.u-section-1 {

    background-image: none;
}

.u-video-container {
    position: center;
    width: 282px; /* Ajusta el tamaño del contenedor aquí */
    height: 300px; /* Ajusta el tamaño del contenedor aquí */
    border: 2px solid #ccc; /* Opcional: Bordes para visualizar el contenedor */
    border-radius: 10px; /* Opcional: Bordes redondeados */
    overflow: hidden; /* Opcional: Para asegurarte de que el video y el canvas no se desborden */
    background-color: #000; /* Opcional: Fondo negro para mejor contraste */
    margin-left: 21.5%;
}

    .u-section-1 .u-sheet-1 {
        min-height: 794px;
    }

    .u-section-1 .u-group-1 {
        min-height: 740px;
        width: 492px;
        height: auto;
        margin: 13px auto 34px;
    }

    .u-section-1 .u-container-layout-1 {
        padding: 9px 0 0;
    }

    .u-section-1 .u-image-1 {
        width: 355px;
        height: 297px;
        margin: 10px auto 0;
    }

    .u-section-1 .u-text-1 {
        text-transform: uppercase;
        font-weight: 700;
        margin: -22px auto 0;
    }

    .u-section-1 .u-form-1 {
        height: 208px;
        width: 442px;
        margin: 13px auto 0;
    }

    .u-section-1 .u-line-1 {
        height: 0;
    }

    .u-section-1 .u-text-2 {
        margin-left: 0;
    }

    .u-section-1 .u-text-3 {
        margin-left: 0;
    }

    .u-section-1 .u-line-2 {
        height: 0;
    }

    .u-section-1 .u-btn-1 {
        border-style: none;
        width: 100%;
        background-image: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 0;
    }

.u-block-c897-42 {
    margin-left: 0;
}

.u-block-c897-43 {
    font-weight: 700;
    text-transform: uppercase;
}

.u-block-c897-45 {
    background-image: linear-gradient(to right, #344ce0, #344ce0);
    --radius: 20px;
}


@media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
        height: auto;
    }

    .u-section-1 .u-text-1 {
        margin-top: -468px;
    }

    .u-section-1 .u-form-1 {
        width: 432px;
        margin-top: 463px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-group-1 {
        margin-top: 81px;
    }

    .u-section-1 .u-text-1 {
        width: auto;
        margin-top: -16px;
    }

    .u-section-1 .u-form-1 {
        margin-top: 11px;
    }
}

@media (max-width: 767px) {

    .u-video-container {
        width: 235px; /* El contenedor se ajusta al 100% del ancho de la pantalla */
        height: 250px; /* Mantiene la proporción del video al ajustar el ancho */
        max-width: 282px; /* Máximo ancho permitido */
        margin: 20px auto; /* Centra el contenedor con un margen superior/inferior */
        margin-left: 15.5%;
    }
    .u-section-1 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-image-1 {
        margin-top: 20px;
    }

    .u-section-1 .u-text-1 {
        margin-top: -519px;
    }

    .u-section-1 .u-form-1 {
        margin-top: 424px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-group-1 {
        margin-top: 35px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-container-layout-1 {
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-image-1 {
        height: 260px;
        margin-top: 29px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
       
    }

    .u-section-1 .u-text-1 {
        margin-top: 0;
        margin-left: 22px;
        margin-right: 22px;
    }

    .u-section-1 .u-form-1 {
        height: 409px;
        width: 300px;
        margin-top: 1px;
    }
}
