 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 872px;
}



.u-section-1 .u-container-layout-1 {
  padding: 9px 0 0;
}

.u-section-1 .u-image-1 {
  width: 355px;
  height: 297px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -26px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 182px;
  background-image: none;
  height: 182px;
  margin: 69px auto 0 105px;
  padding: 18px;
}

.u-section-1 .u-image-2 {
  width: 175px;
  height: 175px;
  --radius: 250px;
  margin: -178px 105px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 119px;
  width: 490px;
  margin: 52px auto 0;
}

.u-section-1 .u-line-1 {
  height: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  width: 100%;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
}

.u-block-d137-47 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-block-d137-48 {
  --radius: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    inset: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 284px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -13px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}