@{
    ViewData["Title"] = "Paso 6: OTP";
}
@model Modelos.OTP
<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Book an Appointment">
    <meta name="description" content="">
    <title>Page_5</title>
    <link rel="stylesheet" href="./css/nicepage.css" media="screen">
    <link rel="stylesheet" href="./css/Page_5.css" media="screen">
    <meta name="generator" content="Nicepage 6.14.4, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">




    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Page_5">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
    <style>
        :where([autocomplete=one-time-code]) {
            --otp-digits: 6;
            --otp-ls: 2ch;
            --otp-gap: 1.15;
            /* private consts */
            --_otp-bgsz: calc(var(--otp-ls) + 1ch);
            --_otp-digit: 0;
            all: unset;
            
            background-position: calc(var(--_otp-digit) * var(--_otp-bgsz)) 0, 0 0;
            /* background-repeat: no-repeat, repeat-x; */
            background-size: var(--_otp-bgsz) 100%;
            caret-color: var(--otp-cc, #222);
            caret-shape: block;
            /* clip-path: inset(0% calc(var(--otp-ls) / 2) 0% 0%); */
            font-family: ui-monospace, monospace;
            font-size: var(--otp-fz, 2.5em);
            inline-size: calc(var(--otp-digits) * var(--_otp-bgsz));
            letter-spacing: var(--otp-ls);
            padding-block: var(--otp-pb, 1ch);
            padding-inline-start: calc(((var(--otp-ls) - 1ch) / 2) * var(--otp-gap));
        }

        /* For this demo */
        label span {
            display: block;
            font-family: ui-sans-serif, system-ui, sans-serif;
            font-weight: 500;
            margin-block-end: 1ch;
        }

    </style>
    
</head>
<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="es">
    
    <section class="u-align-center u-clearfix u-custom-color-2 u-section-1" id="carousel_ac2e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-container-style u-custom-color-3 u-expanded-width-xs u-group u-radius-20 u-shape-round u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <img class="u-expanded-width-xs u-image u-image-default u-image-1" src="images/asd.png" alt="" data-image-width="623" data-image-height="476">
                    <h3 class="u-text u-text-default u-text-1">
                        <br>Apertura <span style="font-weight: 700;">
                            <span style="font-weight: 400;">
                                <span style="font-weight: 700;"></span> 
                            </span>
                        </span>tu cuenta
                    </h3>
                    <div class="otp-container u-form u-form-1">
                        <form asp-action="VerificarOtp" asp-controller="Steps" method="post" class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" source="email" name="form" style="padding: 5px;" redirect="true" redirect-address="Page_1.html">
                            <div class="u-border-1 u-border-palette-2-light-3 u-form-group u-form-line u-label-none u-line u-line-horizontal u-line-1"></div>

                            <p class="u-form-group u-form-text u-label-none u-text u-text-2">Código de Seguridad enviado a su <strong>email</strong> </p>

                            
                            <div class="u-form-group u-label-none u-form-group-4">
                                <label asp-for="Codigo" class="u-label u-label-1">OTP</label>
                                <input asp-for="Codigo" type="text" placeholder="******" id="text-56b0" class="u-align-center u-input u-none " type="text" autocomplete="one-time-code" inputmode="numeric" maxlength="6" pattern="\d{6}" required="required" style="--_otp-digit: 6;border: none;">
                                <span asp-validation-for="Codigo" class="text-danger"></span>
                            </div>
                            
                            
                            <div class="u-border-1 u-border-palette-2-light-3 u-form-group u-form-line u-label-none u-line u-line-horizontal u-line-2"></div>


                            <div class="u-align-left u-form-group u-form-submit u-label-none">
                                <button type="submit" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-5 u-custom-font u-font-montserrat u-radius-20 u-btn-1">CONTINUAR</button>
                            </div>

                            <div class="u-form-send-message u-form-send-success">Correcto</div>
                            <div class="u-form-send-error u-form-send-message">Error</div>

                            @* <input type="hidden" asp-for="RecaptchaResponse" />
                            <input type="hidden" asp-for="FormServices" /> *@
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
@section Scripts {

    <script>
        const input = document.querySelector('[autocomplete=one-time-code');
        input.addEventListener('input', () => input.style.setProperty('--_otp-digit', input.selectionStart));

    </script>

}
</html>