@{
    ViewData["Title"] = "Paso 3: Direccion";
}
@model Modelos.DireccionMapa
<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Book an Appointment">
    <meta name="description" content="">
    <title>Page_2</title>
    <link rel="stylesheet" href="./css/nicepage.css" media="screen">
    <link rel="stylesheet" href="./css/Page_2.css" media="screen">
    <meta name="generator" content="Nicepage 6.14.4, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Page_2">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&libraries=places"></script>

</head>
<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="es">
    
    <section class="u-align-center u-clearfix u-custom-color-2 u-section-1" id="carousel_ac2e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-container-style u-custom-color-3 u-expanded-width-xs u-group u-radius-20 u-shape-round u-group-1">
                <div class="u-container-layout u-container-layout-1" style="margin-bottom: 150px;">
                    <img class="custom-expanded u-image u-image-default u-image-1" src="images/asd.png" alt="" data-image-width="623" data-image-height="476">
                    <h3 class="u-text u-text-1">
                        <br>Apertura <span style="font-weight: 700;">
                            <span style="font-weight: 400;">
                                <span style="font-weight: 700;"></span>
                            </span>
                        </span>tu cuenta
                    </h3>
                    <div class="u-form u-form-1" id="carousel-fa54">
                        <form asp-action="GuardarDireccionMCookie" asp-controller="Steps" method="post" class="u-clearfix u-form-spacing-9 u-form-vertical u-inner-form" style="padding: 22px;">
                            <div class="u-border-1 u-border-palette-2-light-3 u-form-group u-form-line u-label-top u-line u-line-horizontal u-line-1"></div>

                            <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top u-form-group-2">
                                <label class="u-label u-label-1">Nombre</label>
                                <input type="text" placeholder="Ingrese su nombre" class="u-border-2 u-border-white u-input u-input-rectangle u-radius u-text-grey-80 u-input-1" required
                                       value="@ViewBag.Usuario" readonly />
                                <span class="text-danger"></span>
                            </div>

                            <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top u-form-group-3">
                                <label class="u-label u-label-2">Apellido</label>
                                <input type="text" placeholder="Ingrese su apellido" class="u-border-2 u-border-white u-input u-input-rectangle u-radius u-text-grey-80 u-input-2" required
                                       value="@ViewBag.Apellido" readonly />
                                <span class="text-danger"></span>
                            </div>


                            <div class="u-border-1 u-border-palette-2-light-3 u-form-group u-form-line u-label-top u-line u-line-horizontal u-line-2"></div>

                            <!-- Provincias -->
                            <div class="u-form-group u-form-text u-label-top u-form-group-5">
                                <label asp-for="Provincia" class="u-label u-label-3">Provincias</label>
                                <input asp-for="Provincia" class="u-border-2 u-border-white u-input u-input-rectangle u-radius u-text-grey-80 u-input-3" type="text" required>
                                <div id="provincia-suggestions" class="suggestions"></div>
                                <span asp-validation-for="Provincia" class="text-danger"></span>
                            </div>

                            <!-- Cantones -->
                            <div class="u-form-group u-form-text u-label-top u-form-group-6">
                                <label asp-for="Canton" class="u-label u-label-4">Cantón:</label>
                                <input asp-for="Canton" class="u-border-2 u-border-white u-input u-input-rectangle u-radius u-text-grey-80 u-input-4" type="text" required>
                                <div id="canton-suggestions" class="suggestions"></div>
                                <span asp-validation-for="Canton" class="text-danger"></span>
                            </div>

                            <!-- Parroquias -->
                            <div class="u-form-group u-form-text u-label-top u-form-group-7">
                                <label asp-for="Parroquia" class="u-label u-label-5">Parroquia:</label>
                                <input asp-for="Parroquia" class="u-border-2 u-border-white u-input u-input-rectangle u-radius u-text-grey-80 u-input-5" required>
                                <div id="parroquia-suggestions" class="suggestions"></div>
                                <span asp-validation-for="Parroquia" class="text-danger"></span>
                            </div>



                            <div class="u-form-group u-label-top u-form-group-8">
                                <label asp-for="Direccion" class="u-label u-label-6">Dirección:</label>
                                <input asp-for="Direccion" type="text" placeholder="" class="u-border-2 u-border-white u-input u-input-rectangle u-radius u-text-grey-80 u-input-6" required />
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </div>

                            <div class="u-form-group u-label-top u-form-group-9">
                                <label asp-for="Referencia" class="u-label u-label-7">Referencia</label>
                                <input asp-for="Referencia" type="text" placeholder="" class="u-border-2 u-border-white u-input u-input-rectangle u-radius u-text-grey-80 u-input-7" required />
                                <span asp-validation-for="Referencia" class="text-danger"></span>
                            </div>

                            <div class="u-border-1 u-border-palette-2-light-3 u-form-group u-form-line u-label-top u-line u-line-horizontal u-line-3"></div>

                            <div class="u-align-left u-form-group u-form-submit u-label-top">
                                <button type="submit" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-5 u-custom-font u-font-montserrat u-radius-20 u-btn-1">CONTINUAR</button>
                            </div>

                            <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                            <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>

                            <input type="hidden" value="" name="recaptchaResponse">
                            <input type="hidden" name="formServices" value="9d5de5cf-c74d-2673-4c36-3c5014c4e60a">
                        </form>

                    </div>
                    <div class="u-grey-light-2 u-map u-map-1">
                        <div class="embed-responsive">
                            <div id="map" style="height: 400px; width: 100%;"></div>
                            <script async
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&loading=async&libraries=places&callback=initMap">
                            </script>
                            
                            @* <iframe class="embed-responsive-item" src="https://maps.google.com/maps?output=embed&amp;q=Ibarra%2C%20Ecuador&amp;z=10&amp;t=m" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLXBvaW50JTIyJTJDJTIyYWRkcmVzcyUyMiUzQSUyMkliYXJyYSUyQyUyMEVjdWFkb3IlMjIlMkMlMjJ6b29tJTIyJTNBMTAlMkMlMjJ0eXBlSWQlMjIlM0ElMjJyb2FkJTIyJTJDJTIybGFuZyUyMiUzQW51bGwlMkMlMjJhcGlLZXklMjIlM0FudWxsJTJDJTIybWFya2VycyUyMiUzQSU1QiU1RCU3RA=="></iframe>*@
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
    </section>
   
    @section Scripts{
        <script>
            function initialize() {
                var inputProvincia = document.querySelector('input[name="Provincia"]');
                var inputCanton = document.querySelector('input[name="Canton"]');
                var inputParroquia = document.querySelector('input[name="Parroquia"]');
                var inputDireccion = document.querySelector('input[name="Direccion"]');
                var inputReferencia = document.querySelector('input[name="Referencia"]');

                var autocomplete = new google.maps.places.Autocomplete(inputDireccion, {
                    types: ['geocode']
                });

                autocomplete.addListener('place_changed', function () {
                    var place = autocomplete.getPlace();
                    if (place.address_components) {
                        var addressComponents = place.address_components;
                        addressComponents.forEach(function (component) {
                            switch (component.types[0]) {
                                case 'locality': // Ciudad
                                    inputCanton.value = component.long_name;
                                    break;
                                case 'administrative_area_level_1': // Provincia
                                    inputProvincia.value = component.long_name;
                                    break;
                                case 'sublocality_level_1': // Parroquia (si aplica)
                                    inputParroquia.value = component.long_name;
                                    break;
                                case 'street_address': // Dirección
                                    inputDireccion.value = component.long_name;
                                    break;
                            }
                        });
                    }
                });

                // Puedes agregar lógica similar para manejar los campos Provincia, Canton y Parroquia
            }

            google.maps.event.addDomListener(window, 'load', initialize);

            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -0.231, lng: -78.524 }, // Coordenadas iniciales
                    zoom: 12
                });

                var marker = new google.maps.Marker({
                    position: map.getCenter(),
                    map: map,
                    draggable: true
                });

                var geocoder = new google.maps.Geocoder();

                google.maps.event.addListener(marker, 'dragend', function () {
                    geocodePosition(marker.getPosition(), geocoder, function (address) {
                        var components = address.address_components;
                        components.forEach(function (component) {
                            switch (component.types[0]) {
                                case 'locality': // Ciudad
                                    inputCanton.value = component.long_name;
                                    break;
                                case 'administrative_area_level_1': // Provincia
                                    inputProvincia.value = component.long_name;
                                    break;
                                case 'sublocality_level_1': // Parroquia (si aplica)
                                    inputParroquia.value = component.long_name;
                                    break;
                                case 'street_address': // Dirección
                                    inputDireccion.value = component.long_name;
                                    break;
                            }
                        });
                    });
                });
            }

            function geocodePosition(position, geocoder, callback) {
                geocoder.geocode({
                    latLng: position
                }, function (results) {
                    if (results && results.length > 0) {
                        callback(results[0]);
                    }
                });
            }

            window.addEventListener('load', initialize);

            const Provincias = [
                "Azuay", "Bolívar", "Cañar", "Carchi", "Chimborazo",
                "Cotopaxi", "El Oro", "Esmeraldas", "Galápagos", "Guayas",
                "Imbabura", "Loja", "Los Ríos", "Manabí", "Morona Santiago",
                "Napo", "Orellana", "Pastaza", "Pichincha", "Santa Elena",
                "Santa Isabel", "Santo Domingo de los Tsáchilas", "Sucumbíos", "Tungurahua", "Zamora-Chinchipe"
            ];

            const Cantones = [
                "Cuenca", "Azogues", "Riobamba", "Loja", "Guayaquil",
                "Quito", "Ambato", "Manta", "Machala", "Esmeraldas",
                "Ibarra", "Santa Elena", "Portoviejo", "Santo Domingo"
                // Añadir más cantones según necesidad
            ];

            const Parroquias = [
                "El Sagrario", "La Libertad", "San Blas", "La Merced",
                "San Sebastián", "San Francisco", "San Pedro"
                // Añadir más parroquias según necesidad
            ];
            function setupAutocomplete(inputId, suggestionsId, dataList) {
                const input = document.getElementById(inputId);
                const suggestionsBox = document.getElementById(suggestionsId);

                input.addEventListener('input', function () {
                    const query = this.value.toLowerCase();
                    suggestionsBox.innerHTML = ''; // Limpia las sugerencias anteriores

                    if (query) {
                        const filtered = dataList.filter(item =>
                            item.toLowerCase().includes(query)
                        );

                        filtered.forEach(item => {
                            const div = document.createElement('div');
                            div.textContent = item;
                            div.classList.add('suggestion-item');
                            div.addEventListener('click', function () {
                                input.value = item;
                                suggestionsBox.innerHTML = ''; // Limpia las sugerencias después de seleccionar
                            });
                            suggestionsBox.appendChild(div);
                        });

                        if (filtered.length === 0) {
                            suggestionsBox.innerHTML = '<div>No hay sugerencias</div>';
                        }
                    }
                });
            }

            // Configura el autocompletado para cada campo
            setupAutocomplete('Provincia', 'provincia-suggestions', Provincias);
            setupAutocomplete('Canton', 'canton-suggestions', Cantones);
            setupAutocomplete('Parroquia', 'parroquia-suggestions', Parroquias);

            // Estilos para las sugerencias
            document.head.insertAdjacentHTML('beforeend', `
                            <style>
                                .suggestions {
                                    border: 1px solid #ddd;
                                    max-height: 150px;
                                    overflow-y: auto;
                                    position: absolute;
                                    background-color: white;
                                    z-index: 1000;
                                    border-radius: 8px;
                                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                                    font-family: 'Roboto', sans-serif;
                                }
                                .suggestion-item {
                                    color: #333;
                                    padding: 12px;
                                    cursor: pointer;
                                    transition: background-color 0.3s ease, color 0.3s ease;
                                    font-family: 'Montserrat', sans-serif;
                                }
                                .suggestion-item:hover {
                                    background-color: #e0e0e0;
                                    color: #007bff;
                                }
                            </style>
                        `);
        </script>




    }
</body>
</html>