@{
    ViewData["Title"] = "Paso 5: Reconocimiento Facial";
}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Book an Appointment">
    <meta name="description" content="">
    <title>Page_4</title>
    <link rel="stylesheet" href="./css/nicepage.css" media="screen">
    <link rel="stylesheet" href="./css/Page_4.css" media="screen">
   
    <meta name="generator" content="Nicepage 6.14.4, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">


    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Page_4">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>



<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="es">
    
    <section class="u-align-center u-clearfix u-custom-color-2 u-section-1" id="carousel_ac2e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-container-style u-custom-color-3 u-expanded-width-xs u-group u-radius-20 u-shape-round u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <img class="custom-expanded u-image u-image-default u-image-1" src="images/asd.png" alt="" data-image-width="623" data-image-height="476">
                    <h3 class="u-text u-text-default u-text-1">
                        <br>Reconocimiento Facial
                    </h3><span class="u-file-icon u-icon u-icon-circle u-palette-1-base u-icon-1"><img src="images/391125.png" alt=""></span>
                    <img class="custom-expanded u-image u-image-round u-radius u-image-2" src="images/circle-alert-icon-free-vector.jpg" data-image-width="980" data-image-height="980">
                    <div class="u-form u-form-1">
                        <form asp-action="GuardarFaceScan" asp-controller="Steps" class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" source="email" name="form" style="padding: 5px;" redirect="true" redirect-address="Page_1.html">
                            <div class="u-border-1 u-border-palette-2-light-3 u-form-group u-form-line u-line u-line-horizontal u-line-1"></div>

                            <!-- Campos ocultos para datos del rostro usando asp-for -->
                            
                            @* <input type="hidden" name="ImageUrl" value="" asp-for="ImageUrl" /> *@
                        
                            <!-- Campo de envío del formulario -->
                            <div class="u-align-left u-form-group u-form-submit u-label-top">
                                <button type="submit"  class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-5 u-custom-font u-font-montserrat u-radius-20 u-btn-1";">CONTINUAR</button>
                            </div>

                            <!-- Mensajes de éxito y error -->
                            <div class="u-form-send-message u-form-send-success">Correcto</div>
                            <div class="u-form-send-error u-form-send-message">Error</div>
                            <input type="hidden" value="" name="recaptchaResponse">
                            <input type="hidden" name="formServices" value="9d5de5cf-c74d-2673-4c36-3c5014c4e60a">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



   
    

</body>

@* @section Scripts {

    <script src="/js/face-api.min.js"></script>
    <script src="/js/script_webcam.js"></script>
    <script>
        function activateCamera() {
            const cameraAccess = localStorage.getItem('cameraAccess');
            if (cameraAccess === 'granted') {
                // Activar la cámara
                // Aquí puedes agregar el código para iniciar el stream de la cámara
                console.log('Cámara activada.');
            } else {
                alert('Por favor, permite el acceso a la cámara en el primer paso.');
                window.location.href = '/home';
            }
        }

        // Ejecutar la función al cargar la vista
        document.addEventListener('DOMContentLoaded', activateCamera);
    </script>
    }
</html> *@