@{
    Layout = null;
}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Book an Appointment">
    <meta name="description" content="">
    <title>Page_6</title>
    <link rel="stylesheet" href="./css/nicepage.css" media="screen">
    <link rel="stylesheet" href="./css/TerminosYcondiciones.css" media="screen">

    <meta name="generator" content="Nicepage 6.14.4, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">




    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Page_6">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="es">

    <section class="u-align-center u-clearfix u-custom-color-2 u-section-1" id="carousel_ac2e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-container-style u-custom-color-3 u-expanded-width-xs u-group u-radius-20 u-shape-round u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <img class="u-expanded-width-xs u-image u-image-default u-image-1" src="images/asd.png" alt="" data-image-width="623" data-image-height="476">

                    <h3 class="u-text u-text-default u-text-1   ">
                        <br>Términos y Condiciones del Servicio
                    </h3>

                    <div class="otp-container u-form u-form-1">
                       
                            <div class="u-border-1 u-border-palette-2-light-3 u-form-group u-form-line u-label-none u-line u-line-horizontal u-line-2"></div>
                            
                            <p class="u-align-center u-form-group u-form-text u-label-none u-text u-text-1">1. Aceptación de los Términos</p>
                            <p class="u-align-justify u-form-group u-form-text u-label-none u-text u-text-2">Al utilizar este servicio, usted acepta cumplir y estar sujeto a los presentes Términos y Condiciones, así como a cualquier política adicional a la que se haga referencia en este documento. Si no está de acuerdo con alguno de estos términos, no debe utilizar el servicio.</p>
                            <p class="u-align-center u-form-group u-form-text u-label-none u-text u-text-1">2. Descripción del Servicio</p>
                            <p class="u-align-justify u-form-group u-form-text u-label-none u-text u-text-2">Este servicio permite a los usuarios crear una cuenta de ahorro básica. La creación de la cuenta requiere la recolección de información básica y la verificación de la identidad mediante reconocimiento facial y códigos OTP (One-Time Password).</p>

                            <p class="u-align-center u-form-group u-form-text u-label-none u-text u-text-1">3. Requisitos del Usuario</p>
                            <p class="u-align-justify u-form-group u-form-text u-label-none u-text u-text-2">
                                • Ser mayor de edad según la legislación aplicable.<br>
                                • Proporcionar información veraz y actualizada.<br>
                                • Aceptar la verificación de identidad mediante reconocimiento facial y códigos OTP.
                            </p>

                            <p class="u-align-center u-form-group u-form-text u-label-none u-text u-text-1">5. Seguridad de la Información</p>
                            <p class="u-align-justify u-form-group u-form-text u-label-none u-text u-text-2">
                                • Medidas de Seguridad: Utilizamos medidas de seguridad técnicas y administrativas para proteger la información personal de accesos no autorizados, alteraciones, divulgación o destrucción.<br>
                                • Responsabilidad del Usuario: El usuario es responsable de mantener la confidencialidad de sus credenciales de acceso y de cualquier código OTP generado para la autenticación.
                            </p>

                            <p class="u-align-center u-form-group u-form-text u-label-none u-text u-text-1">6. Verificación de Identidad</p>
                            <p class="u-align-justify u-form-group u-form-text u-label-none u-text u-text-2">
                                • Reconocimiento Facial: Se utilizará tecnología de reconocimiento facial para validar la identidad del usuario. Al aceptar estos términos, el usuario consiente expresamente en la recopilación y uso de sus datos biométricos para este propósito.<br>
                                • Códigos OTP: Además del reconocimiento facial, se utilizará un sistema de códigos OTP enviados a través de SMS o correo electrónico para verificar la autenticidad de la cuenta.
                            </p>

                            <p class="u-align-center u-form-group u-form-text u-label-none u-text u-text-1">7. Privacidad y Protección de Datos</p>
                            <p class="u-align-justify u-form-group u-form-text u-label-none u-text u-text-2">
                                • Política de Privacidad: Toda la información personal será tratada conforme a nuestra Política de Privacidad, que se incorpora a estos términos por referencia.<br>
                                • Transferencia de Datos: En algunos casos, la información puede ser transferida a los entes regulatorios del país. Al utilizar el servicio, el usuario consiente dicha transferencia.
                            </p>

                            <p class="u-align-center u-form-group u-form-text u-label-none u-text u-text-1">8. Condiciones de Uso</p>
                            <p class="u-align-justify u-form-group u-form-text u-label-none u-text u-text-2">
                                • Prohibiciones: El usuario se compromete a no utilizar el servicio para ningún propósito ilícito o no autorizado.<br>
                                • Suspensión o Terminación del Servicio: Nos reservamos el derecho de suspender o cerrar la cuenta en caso de incumplimiento de estos términos o por razones de seguridad.
                            </p>

                            <p class="u-align-center u-form-group u-form-text u-label-none u-text u-text-1">9. Responsabilidad y Limitación de Responsabilidad</p>
                            <p class="u-align-justify u-form-group u-form-text u-label-none u-text u-text-2">
                                • Responsabilidad del Servicio: El servicio se proporciona "tal cual" y "según disponibilidad", sin garantías de ningún tipo, ya sean expresas o implícitas.<br>
                                • Limitación de Responsabilidad: En ningún caso seremos responsables por daños directos, indirectos, incidentales, especiales, consecuentes o punitivos relacionados con el uso del servicio.
                            </p>

                            <p class="u-align-center u-form-group u-form-text u-label-none u-text u-text-1">10. Modificaciones a los Términos</p>
                            <p class="u-align-justify u-form-group u-form-text u-label-none u-text u-text-2">
                                • Cambios en los Términos: Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Cualquier cambio será notificado al usuario y entrará en vigor en la fecha indicada en la notificación.
                            </p>

                            <p class="u-align-center u-form-group u-form-text u-label-none u-text u-text-1">11. Ley Aplicable y Jurisdicción</p>
                            <p class="u-align-justify u-form-group u-form-text u-label-none u-text u-text-2">
                                Estos términos y condiciones se rigen por las leyes del país donde se ofrece el servicio. Cualquier controversia que surja en relación con estos términos será resuelta en los tribunales competentes de dicha jurisdicción.
                            </p>

                            <p class="u-align-center u-form-group u-form-text u-label-none u-text u-text-1">12. Contacto</p>
                            <p class="u-align-justify u-form-group u-form-text u-label-none u-text u-text-2">
                                Para cualquier pregunta o inquietud sobre estos términos, puede contactarnos a través de 062 999 540.<br><br>
                            </p>
                            


                            

                        
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
</html>