
@{
    ViewData["Title"] = "Paso 1: Validación";
}
@model Entidades.DatosDactilares

    <h1>Verificar Datos Dactilares</h1>

    @if (ViewBag.Message != null)
    {
        <div>
            <strong>@ViewBag.Message</strong>
        </div>
    }

    <form asp-action="ComprobarDatos" method="post">
        <div>
            <label for="Identificacion">Identificación:</label>
            <input type="text" id="Identificacion" name="Identificacion" required />
        </div>
        <div>
            <label for="Codigo_Dactilar">Código Dactilar:</label>
            <input type="text" id="Codigo_Dactilar" name="Codigo_Dactilar" required />
        </div>
        <button type="submit">Verificar</button>
    </form>



