<!DOCTYPE html>
<html>

<head>
    <title>Contrato de Apertura de Cuenta Básica</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 3rem;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
        }

        p {
            text-align: justify;
        }
    </style>
</head>

<body>
    <h1>CONTRATO PARA APERTURA DE CUENTA BÁSICA</h1>
    <p>
        Comparecen a la celebración del presente contrato por una parte la Asociación Mutualista de Ahorro y
        Crédito para la Vivienda Imbabura, a quien en lo sucesivo se denominara “Mutualista Imbabura”, y, por
        otra <strong> {{clienteNombre}}</strong>, a quien en adelante se le denominara “TITULAR” o el
        “CLIENTE", cuyos datos personales constan en la solicitud de apertura y que es parte integrante del
        presente contrato, por lo que las partes convienen en celebrar el contrato de cuenta básica al tenor de las
        siguientes clausulas:
    </p>
    <p>
        PRIMERA: El/La cliente <strong>  {{clienteNombre}}</strong> declara que acepta expresamente las
        responsabilidades de orden civil administrativa y penal que corresponden a las declaraciones, compromisos
        y obligaciones que constan en este contrato, declara además que se halla en capacidad legal para celebrar
        este contrato, depositar fondos, órdenes de pago y en general realizar todas las operaciones y movimientos
        relacionados con el manejo de la cuenta básica y que los mismos son legales y tienen origen licito, con
        sujeción a las normas que se expresan en el presente contrato, a las disposiciones contenidas en la Ley, en
        especial al Código Orgánico Monetario y Financiero, a las Resoluciones de la Superintendencia de Economía
        Popular y Solidaria, Ley Orgánica de Prevención, Detección y Erradicación del Delito de Lavado de Activos
        y del Financiamiento de Delitos, la Codificación de la Junta de Política y Regulación Financiera; y, demás
        normas pertinentes. Exime, por lo mismo, de toda responsabilidad a la Mutualista para el caso de que estas
        declaraciones sean falsas o no se ajusten a la verdad.
    </p>
    <p>
        El cliente declara que la información entregada es verídica y faculta a Mutualista Imbabura a validar la misma,
        en caso de detectarse que la información entregada tanto a través de los canales electrónicos, como de
        manera presencial es falsa, faculta a Mutualista Imbabura a cerrar la cuenta inmediatamente.
    </p>
    <p>
        En base a las declaraciones y compromisos que anteceden. La Mutualista conviene en abrir la cuenta básica Nro.
        <strong> {{cuentaNumero}}</strong> para la cual proporcionará la libreta de cuenta básica correspondiente para
        efectuar sus
        depósitos y retiros; así mismo, se registra las firmas y huellas dactilares que se utilizaran en las
        transacciones
        respectivas, por parte del titular o sus autorizados
    </p>

    <p>
        SEGUNDA: La Mutualista suministrará al cliente la libreta para que realice sus transacciones, obligándose
        en cuidar y mantenerla en correctas condiciones, verificar la secuencia y el correcto registro de las
        transacciones realizadas, de modo que ninguna otra persona pueda hacer uso indebido de la misma, por lo
        tanto, el cliente asume los riesgos en caso que extravié la libreta y se proceda el uso indebido de la misma
        por parte de terceros y se presenta falsificación en la firma o adulteración de cantidades y otros, etc.
        Además, para el manejo de la cuenta el cliente deberá sujetarse a las siguientes condiciones:
    </p>


    <li>
        Los depósitos podrán ser retirados en todo o en parte, en cualquier tiempo, para lo cual es
        indispensable la presentación de la libreta. Aquellas operaciones, transacciones o movimientos
        realizados por ventanilla con la presentación de la libreta, se registraran en la libreta de cuenta básica
        al momento mismo de efectuarlas, mientras que aquellas que se realicen a través de cajeros
        automáticos, depósitos que se efectúen sin libreta o aquellas efectuadas a través de otros medios
        electrónicos que la MUTUALISTA ponga a disposición del TITULAR, serán registrados en la
        libreta de cuenta básica en la primera oportunidad en que se presente la libreta de cuenta básica por
        ventanilla.
    </li>
    <br>
    <li>
        La MUTUALISTA proveerá al TITULAR el cambio de libreta de cuenta básica en sustitución de
        la usada, procediendo a la anulación de la primera cuando hubiere sido utilizada en su totalidad.
    </li>
    <br>
    <li>
        EL TITULAR podrá autorizar que terceras personas, cuyos nombres y firmas deberá registrar
        previamente en la MUTUALISTA (en adelante las FIRMAS O HUELLAS DACTILARES
        AUTORIZADAS) pueden efectuar retiros de dinero o transacciones de la CUENTA con cargo a
        los fondos depositados en la misma, o podrá también, en cualquier momento eliminar, una o más
        de las FIRMAS o HUELLAS DACTILARES AUTORIZADAS, firmando las autorizaciones o
        documentos que la MUTUALISTA solicite y que considere necesario para tal efecto.
    </li>
    <br>
    <li>
        En caso de requerir realizar retiros sin libreta, se podrá realizarlos previa autorización del señor jefe
        de agencia y conforme a lo dispuesto a las políticas internas de la institución.
    </li>
    <br>
    <li>
        Cualquiera observación que el cliente tenga dentro del movimiento de su libreta, deberá hacerlo
        dentro de los cuarenta y cinco días de efectuada la transacción, pasado ese tiempo, la Mutualista lo
        dará como aceptado
    </li>
    <br>

    <p>
        TERCERA: Todo tipo de transacción realizada por el titular, será previa la presentación de su cedula de
        identidad, así mismo las operaciones que efectuaren terceros, serán previa autorización del titular y
        únicamente a mayores de edad con la presentación de su cedula; ante lo cual, la Mutualista deslinda todo
        tipo de responsabilidad por cualquier falsificación o irregularidad en este tipo de procedimientos.

        CUARTA: En el caso de pérdida, destrucción o sustracción de la libreta de cuenta básica, el cliente está en
        la obligación de comunicar dentro del término máximo de 24 horas siguientes por escrito a la Mutualista
        sobre este suceso, caso contrario la MUTUALISTA no se responsabiliza por los retiros y transacciones
        efectuados con cargo a la CUENTA. El cliente deberá realizar los trámites legales pertinentes y solicitados
        por la institución para su reactivación.

        QUINTA: La Mutualista acreditará en forma inmediata a la cuenta básica del cliente, los valores depositados
        en efectivo y aquellos que fueren en cheques serán acreditados en forma provisional y su valor solo podrá
        ser retirado cuando tales fondos hubieren sido efectivizados, facultando a la Mutualista a debitar los valores
        en caso de que los cheques resultaren devueltos.
    </p>

    <p>
        SEXTA: LIMITES. – Los montos que se establecen para el titular de la cuenta básica son:

        1. El saldo no supere el valor de cuatro salarios básicos unificados; y,

        2. Los depósitos y retiros mensuales acumulados no excedan de seis salarios básicos unificados
        Las remuneraciones de la cuenta serán fijadas de acuerdo a las políticas internas institucionales.
    </p>

    <p>
        SÉPTIMA: TRANSACCIONES Y SERVICIOS. - La cuenta básica permite a una persona natural
        acceder a las siguientes transacciones:
    </p>

    <p> 1. Depósitos, retiros y consultas;</p>
    <p> 2. Pago de servicios públicos y privados;</p>
    <p> 3. Pago y/o cobro de remuneraciones o salarios;</p>
    <p> 4. Pagos a la entidad financiera y a terceros;</p>
    <p>
        5. Compras o consumos en locales afiliados a través de la tarjeta de débito u otros medios de pagoelectrónicos;
    </p>
    <p> 6. Envío y recepción de transferencias y giros nacionales y remesas del exterior; y,</p>
    <p> 7. Acreditaciones en general hasta los límites establecidos en el presente contrato.</p>

    <p>
        OCTAVA: Las huellas dactilares se consideran un dato biométrico mediante el cual Mutualista Imbabura
        utilizando medios tecnológicos específicos que permitan la identificación o autenticación unívoca de una
        persona, para la entrega de fondos.

        Por lo que el cliente conoce y acepta el nuevo mecanismo de retiro de fondos de su cuenta básica, indicando
        por la presente que libre y voluntariamente ha registrado sus huellas dactilares dentro del sistema de
        Mutualista Imbabura; y, autoriza a que este mecanismo sea válido para el retiro de fondos, indicando además
        que el valor a retirar deberá ser expresado en forma verbal; y, su registro quedara plasmado en su libreta de
        cuenta básica, documento en el que se deberá verificar si el monto solicitado es el correcto.

        Por excepción se podrá autorizar a una tercera persona (firma no registrada) en el sistema de Mutualista
        Imbabura, mediante la papeleta de retiro (sin enmendaduras), hasta el monto que de conformidad con las
        políticas internas se lo permita.
    </p>

    <p>
        NOVENA: CANALES ELECTRONICOS. - Mutualista Imbabura pone a disposición de sus clientes
        diversos canales electrónicos con los cuales podrá realizar transacciones relacionadas con su cuenta básica,
        servicios electrónicos, billetera móvil, entre otros, a través de clave(s) y/o tarjeta(s), sea(n) esta(s) de
        débito o inteligentes.

        El cliente declara conocer y aceptar las características y condiciones referentes a los Servicios Electrónicos
        ofrecidos por la Mutualista, asumiendo el cliente la responsabilidad respecto a las transacciones que
        efectuare(n) a través de estos medios, así como la obligación de custodiar debidamente su(s) tarjeta(s) y
        mantener en secreto su(s) clave(s) personal(es) o seguridades adicionales.
    </p>

    <p>
        DÉCIMA: El cliente se obliga a comunicar inmediatamente cualquier cambio de domicilio y de estipulación
        pare el procedimiento en sus transacciones y en el caso de personas jurídicas, cualquier cambio o
        modificación del contrato social interno y de dignidades peticiones que las realizaran por escrito y con los
        documentos necesarios que la Mutualista solicitare. Adicionalmente el cliente tendrá la obligación de
        actualizar su información y si es necesaria la documentación en forma anual o siempre y cuando existan
        cambios en sus datos o cuando la Mutualista así lo requiriera.

        Será responsabilidad del Cliente informar a la Mutualista de cualquier cambio al respecto y, en caso de no
        hacerlo, exime, por aquello, de cualquier responsabilidad a la Mutualista.
    </p>

    <p>
        UNDÉCIMA: El plazo de duración del presente contrato, es indefinido pudiendo cualquiera de las partes
        dar por terminado en cualquier momento y presentarlo por escrito, en donde el titular tendrá que esperar la
        calificación de su retiro y de sus valores, por parte de la Mutualista.
        DUODÉCIMA: En el caso que el cliente nombrare un apoderado o persona autorizada que pueda realizar
        transacciones en su cuenta, expresamente asume total responsabilidad por los actos de su apoderado o
        persona autorizada.

        DÉCIMA TERCERA: DATOS PERSONALES.- El cliente de forma expresa declara que los datos
        personales e información que producto de este contrato entrega, lo hace de forma voluntaria y consciente y
        autoriza a la Mutualista para que la utilice en el marco de la Ley Orgánica de Protección de Datos Personales.

        DÉCIMA CUARTA: AUTORIZACION. - Yo, <strong>  {{clienteNombre}}</strong>, faculto a
        Mutualista Imbabura a debitar de la(s) cuenta(s) que mantengo en la Institución cualquier valor adicional
        que sea necesario por política interna de la Institución o por Normativa de los entes de control, asi como
        de cualquier otra obligación que el cliente tenga contraída con la institución sea esta crédito o tarjeta de
        crédito.
    </p>
    <p>
        DÉCIMA QUINTA: Yo, <strong>  {{clienteNombre}}</strong> con cedula de identidad Nro.
        <strong>NrCedula: {{cedula}}</strong> declaro que todos los valores que sean depositados en la CUENTA BÁSICA, no
        provienen ni
        tienen relación ni serán destinados a ninguna actividad ilegal o ilícita relacionada o tipificada en la Ley de
        Prevención, Detección y Erradicación del Delito de Lavado de Activos y Financiamiento de Delitos, ni
        tendrá relación con cambio de monedas, depósitos o inversiones que provengan de este tipo de actividades;
        y no admitirá que terceros efectúen depósitos o transferencias de fondos a la CUENTA con fondos
        provenientes de estas actividades, eximiendo a la MUTUALISTA de toda responsabilidad por tal motivo.
        EL TITULAR autoriza a la MUTUALISTA, y a las autoridades correspondientes, para que de acuerdo a las
        normas estipuladas para el sigilo bancario, puedan efectuar las indagaciones para conocer el origen de los
        fondos depositados en la CUENTA; así como para que, en caso de que se inicien en su contra investigaciones
        relacionadas con las actividades ilícitas descritas en esta cláusula o cuando se detectare sobre las
        transacciones
        financieras, depósitos, retiros, transferencias, etc., que el TITULAR efectúa transacciones inusuales e
        injustificadas, la MUTUALISTA precede a informar de las mismas a las autoridades competentes y
        proporcionar toda la información que estas demanden, as! como para dar por terminado este contrato, por
        lo que el TITULAR expresamente renuncia a ejecutar cualquier acción o pretensión contra la
        MUTUALISTA o sus funcionarios, tanto en el ámbito civil como penal, por estos hechos.



    </p>

    <p>
        Adicionalmente, el TITULAR autoriza a la MUTUALISTA, para que efectué las investigaciones que
        considere necesarias y obtenga de cualquier fuente de información, incluida la Central de Riesgos y Buros
        de información crediticia, las referencias e información personal y financiera del TITULAR. LA
        MUTUALISTA queda expresamente autorizada para que pueda utilizar, transferir o entregar dicha
        información a autoridades competentes, Buros de Información Crediticia y otras instituciones o personas
        jurídicas legalmente facultadas.
    </p>

    <p>
        DÉCIMA SEXTA: CAUSALES Y PROCEDIMIENTO DE CIERRE O CANCELACIÓN DE LA
        CUENTA BÁSICA.-
    </p>

    <li> En caso de usar la cuenta para movimientos transaccionales injustificados</li>
    <li> En caso de que exceda por tres ocasiones los límites fijados en la cláusula sexta del presente contrato</li>
    <li> En caso de usar la cuenta para situaciones de lavado de activos</li>
    <li> En caso de perdida</li>
    <li> En caso de usar de manera indebida los distintos canales electrónicos</li>
    <li> Las de más causales que existan en las distintas normas de control</li>
    <br>
    <p>
        El cliente declara expresamente que si quebranta o infringe o incumple, cualquier cláusula de este contrato y las
        causales detalladas se procederá al cierre o cancelación de la cuenta básica; el procedimiento será simplemente
        cerrar en el sistema interno de la institución la cuenta básica y el bloqueo de los canales electrónicos.
    </p>



    <p>
        DÉCIMA SÉPTIMA: DOMICILIO, JURISDICCION, COMPETENCIA Y TRAMITE.- para el
        caso de controversia, las partes renuncian fuero y domicilio y se someten a los jueces competentes de la
        ciudad donde se celebre este contrato, o en la ciudad de Ibarra a elección de la MUTUALISTA, y al trámite
        verbal sumario.
    </p>
    <p>
        En consecuencia, las partes aceptan y se ratifican todos los términos y condiciones constantes en este
        contrato y para constancia suscriben en la ciudad y fecha que a continuación se indica.
    </p>
    <p>Lugar y fecha: IBARRA,{{LUGAR_FECHA}}</p>
</body>

</html>