<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mutualista Imbabura</title>
</head>
<body style="margin: 0; padding: 0; min-width: 100% !important;">
    <div style="background-color:#fff;">
        <div align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                            <div align="center">
                                <table border="0" cellpadding="0" cellspacing="0" class="tabla-texto" width="640">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding: 40px 30px 20px 30px;">
                                                                <div align="center">
                                                                    <div align="center" style="-webkit-text-size-adjust: none;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" id="table27" width="500">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="font-size:10px;color:#666666;font-family:verdana;text-decoration:none;line-height:12px;">
                                                                                        <div align="center">
                                                                                            Para asegurar la entrega de nuestros envíos, por favor agregue
                                                                                            <span style="font-size:10px;color:#0073AE;font-family:verdana;text-decoration:none;">promociones_visa@mutualistaimbabura.com</span>
                                                                                            a su libreta de direcciones.<br />
                                                                                            Si no visualiza bien este mensaje, haga clic <a href="#!webview!#">aquí</a>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <table width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="width:100%; max-width:600px;">
                    <tr style="padding: 30px 30px 30px 30px;">
                        <td align="center">
                            <img alt="LOGO" width="640" style="display: block;" src="https://drive.google.com/uc?export=view&id=1XrQ0n1Lqeyvr8gNiltNz2KKPha0x5tpk" />
                        </td>
                    </tr>

                    <tr>
                        <td style="background-color: #253276; padding: 20px 30px 15px 30px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" style="font-family: sans-serif; font-size: 10px; color: #fff;">
                                        Te esperamos en cualquiera de nuestras oficinas ubicadas en: <br />
                                        IBARRA – ATUNTAQUI – OTAVALO - QUITO<br /><br />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h1 style="position: absolute; top: 64%; left: 50%; transform: translate(-50%, -50%); color: #014dab; background-color: rgba(255, 249, 249, 0.58); padding: 10px; text-align: center; border: solid #014dab;">
                                Hola {{Nombre}}, <br>Tu código OTP es: {{OTP}}
                            </h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff">
        <tbody>
            <tr>
                <td>
                    <div align="center">
                        <table border="0" cellpadding="0" cellspacing="0" class="tabla-texto" width="550">
                            <tbody>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td style="padding: 40px 30px 20px 30px;">
                                                        <div align="center">
                                                            <div align="center" style="-webkit-text-size-adjust: none;">
                                                                <table border="0" cellpadding="0" id="table29" style="border-collapse: collapse" width="600">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="left" style="font-size:10px;color:#666666;font-family:verdana;text-decoration:none;line-height:12px;" width="596">
                                                                                <div align="center">
                                                                                    Este mensaje ha sido enviado a #!email!#<br />
                                                                                    Para anular su suscripción, haga clic <a href="#!masterunsubscribelink!#">aquí</a>
                                                                                </div>

                                                                                <div align="center">
                                                                                    <hr color="#BECCCC" size="1" />
                                                                                    <div align="center">
                                                                                        Este mensaje fue enviado a través de <a href="http://www.masterbase.com">MasterBase®</a> por
                                                                                        <b>Mutualista Imbabura</b><br />
                                                                                        Dirección: Oviedo 7-29 y Bolívar - Ibarra - Ecuador<br />
                                                                                        <b>©2020 Derechos Reservados</b>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" width="596">
                                                                                <hr color="#BECCCC" size="1" />
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
